<form [formGroup]="loginForm" (ngSubmit)="submit()" class="my-5 py-4 border border-gray-300 rounded-md">
    <div class="my-2">
        <p class="text-sm">Username</p>
        <input type="text" placeholder="Username" formControlName="username" class="px-3 py-1 rounded-md shadow-md">
    </div>
    <div class="my-2">
        <p class="text-sm">Password</p>
        <input type="password" placeholder="Password" formControlName="password" class="px-3 py-1 rounded-md shadow-md">
    </div>

    <button class="bg-green-900 text-white font-bold rounded-md px-3 py-2 mx-1 hover:bg-green-800" type="submit">Log in</button>
</form>