<h1 class="text-center font-lilitaOne text-3xl mb-2">Terms of Service</h1>
<h2 class="text-xl font-semibold my-2">Affiliates</h2>
<p class="my-1">
  KinkShell ("the plugin", "the service") is an optional, unofficial mod for Final Fantasy: XIV. It is not associated with Square Enix Co., Ltd.
  (hereafter "Square Enix"), or any of its affiliates, and does not claim to be. KinkShell, like any other
  <a href="https://github.com/goatcorp/Dalamud" target="_blank" class="font-semibold">Dalamud</a>
  mod, is not affiliated with Dalamud or XIVLauncher.
</p>
<h2 class="text-xl font-semibold my-2">Liability</h2>
<p class="my-1">
  Using video game mods like KinkShell is not permitted under the Square Enix terms of use, and if discovered, may result in punitive action. As such,
  the developers of KinkShell assume no liability for action taken against your account as a result of your use of this mod. We will make all efforts
  to ensure KinkShell is undetectable, but cannot guarantee total anonymity.
</p>
<p class="my-1">
  This mod is currently under development. The developers do not assume liability for property or emotional damages as a result of your use of this
  mod. KinkShell uses the standardized process of installation and uninstallation through the Dalamud library, and can be removed at any time. Use
  KinkShell only as permitted, and do not attempt to tamper or change its sources or code.
</p>
<h2 class="text-xl font-semibold my-2">Availability</h2>
<p class="my-1">
  KinkShell is currently in a closed beta test, and is not in a finished state. There should be no expectation of product stability, and not all
  features may work as described. The service is being provided to you, the user, free of charge for the duration of the beta testing period, after
  which point the developer reserves the right to adjust pricing models and available features at its sole discretion.
</p>
<h2 class="text-xl font-semibold my-2">User Interaction</h2>
<p class="my-1">
  As part of the normal use of the KinkShell service, users interact via chat messages and configured instructions ("patterns") intended for adult
  toys. Chat messages are not moderated or screened for safety, and KinkShell assumes no liability for the content of messages sent by users on the
  platform. Adult toy commands are stored and transmitted in a proprietary format, and decoded for use with the Intiface Central desktop software.
  Intiface Central is an open-source, third-party application that oversees any further communication between KinkShell and the user's connected
  devices.
</p>
