<app-nav></app-nav>

<div class="mx-auto md:my-8 p-5 bg-ksSandy dark:bg-gray-900 dark:text-gray-200 shadow-sm rounded-md max-w-6xl">
  <router-outlet></router-outlet>
</div>

<div class="mx-auto my-8 p-5 bg-ksSandy dark:bg-gray-900 dark:text-gray-200 shadow-sm rounded-md max-w-6xl">
  <p class="text-center">
    <strong>NEW:</strong>
    Looking for an in-game venue? Check out
    <a href="https://catboyengineering.github.io/MiqoMixersWebsite/" target="_blank" class="font-semibold underline hover:text-gray-800">
      MiqoMixers
    </a>
    - a directory for FFXIV venues and clubs!
  </p>
</div>
