<div class="text-center">
    <h1 class="text-2xl font-bold my-2 mb-5">Welcome, {{displayName$ | async}}!</h1>

    <div class="p-5 border border-gray-400 rounded-md">
        <p><strong>Your ID:</strong> {{userID$ | async}}</p>

        <div class="my-5 px-5 py-2 pb-5 border border-gray-600 rounded-md">
            <h2 class="text-xl font-bold my-2">Next Steps</h2>
            <p>Thanks for registering for KinkShell! Now that your login details and ID have been created, the next step is to install the mod in-game.
                Click the link below to view the plugin repository and instructions to add the repository to your game</p>
            <p class="m-2 p-3 border border-gray-400 rounded-md"><a href="https://github.com/CatboyEngineering/Plugins" target="_blank" class="text-blue-800 dark:text-blue-600 hover:text-blue-500 underline">CatboyEngineering Plugin Repo</a></p>
            <p>Once the repository has been added, you can then follow the below instructions to install KinkShell.</p>
            <p class="m-2 p-3 border border-gray-400 rounded-md"><a href="https://github.com/CatboyEngineering/KinkShellClient" target="_blank" class="text-blue-800 dark:text-blue-600 hover:text-blue-500 underline">KinkShell Setup Instructions</a></p>
            <p>Make sure to write down your ID above. It's safe to share with other KinkShell users, and in fact, they'll need to know it in order to add you to their KinkShells. If you ever lose it, come back here to see it again.</p>
        </div>

        <div class="my-5 px-5 py-2 pb-5 border border-gray-600 rounded-md">
            <h2 class="text-xl font-bold my-2">Get Involved</h2>
            <p>To view the status of upcoming changes, head over to the <a href="https://github.com/users/CatboyEngineering/projects/1" target="_blank" class="text-blue-800 dark:text-blue-600 hover:text-blue-500 underline">Progress Tracker</a>!</p>
        </div>

        <app-name-change-form></app-name-change-form>

        <button class="bg-violet-950 text-white font-bold rounded-md px-3 py-2 mx-1 hover:bg-violet-900" (click)="logOut()">Log Out</button>
        <button class="bg-red-900 text-white font-bold rounded-md px-3 py-2 mx-1 hover:bg-violet-900" (click)="deleteAccount()">{{isDeleting ? "Confirm Delete?" : "Delete Account"}}</button>
    </div>
</div>