<p class="text-sm text-center">Welcome to <strong>KinkShell</strong> - a new and exciting way to interact with other Final Fantasy: XIV players.</p>
<hr class="my-5 border-black"/>
<p>KinkShell is a Dalamud plugin that synchronizes users for the purpose of in-game roleplay.</p>
<ul class="list-disc mx-4 my-2">
    <li>Send private, encrypted messages to other members of a KinkShell</li>
    <li>Pair adult toys to your computer and issue commands to others - or have them issue commands to you</li>
</ul>

<div class="mx-auto text-center">
    <button class="bg-violet-950 text-white font-bold rounded-md px-3 py-2 mx-1 hover:bg-violet-900" [routerLink]="['/register']">Register for the Beta</button>
    <button class="bg-green-900 text-white font-bold rounded-md px-3 py-2 mx-1 hover:bg-green-800" [routerLink]="['/login']">Check your Account ID</button>
</div>